input{
  margin-bottom: 7px;
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  right: 10px;
  border-style: 1px solid black;

}

/*fondo*/
body {
  background: url("https://designcontest-uk-designcontest.netdna-ssl.com/data/contests/95106/entries/306c04986a5a27ea.png"); opacity: ;
  background-size: cover;
  position: relative;
  height: 1000px;
  padding: 100px;
  font-family: "Courier New";
  
}

/*Titulo*/
h1 {
  font-size: 50px;

}
  
  

/*botones*/
button {
  background-color: rgb(42, 206, 48);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 10px 28px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 3px 1px;
  cursor: pointer;

}

box {
  margin: 10px;
  border: darkblue;
  border-radius: 10px;
}
